@import url("https://fonts.googleapis.com/css2?family=Delius&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b;
  height: 70px;
  border-radius: 0 0 8px 8px;
  gap: 1%;
  width: min(84%, 1280px);
  margin: 0 auto;
}

.pages {
  margin: 77px;
}

.pages ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  gap: 70px;
  list-style: none;
  background-color: #1b1b1b;
}

.pages ul a {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  background-color: none;
  letter-spacing: 1%;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  background-color: #1b1b1b;
  white-space: nowrap;
}

.social i {
  color: rgba(255, 255, 255, 0.3);
  background-color: #1b1b1b;
  padding: 5px;
}

.social {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 95px;
}

/* Main Styles */
.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 100px;
}

.cover .left h1 {
  font-family: Raleway, sans-serif;
  font-size: 44px;
  font-weight: 800;
  font-style: extrabold;
  color: white;
  padding-bottom: 10px;
}

.cover .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 16px;
  color: white;
  padding-left: 120px;
  padding-right: 100px;
  width: 55%;
}

.cover .left p {
  padding-bottom: 30px;
  font-family: "IBM Plex Mono", monospace;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
}

.cover .left button {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #3f8e00;
  border: 1px solid #62ba1b;
  padding: 21px 60px;
  width: 63%;
  border-radius: 4px;
  margin-top: 20px;
}

.cover .left button a {
  color: white;
  text-decoration: none;
}

.cover .right {
  padding-right: 200px;
}

.cover .right img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}

/* Worked With Styles*/

.worked-with {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 57px;
  background-color: black;
}

.worked-with h3 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
  margin-left: 180px;
  margin-right: 1007px;
  white-space: nowrap;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}

.logos button {
  border-radius: 8px;
  border-color: #9c9c9c;
  border-width: 1px;
  border-style: solid;
  width: 160px;
  height: 60px;
  background-color: #1b1b1b;
}

.logos button img {
  width: 87px;
  height: 50%;
  filter: grayscale(100%) brightness(0) invert(61%);
}

/* Case Studies page styling */
.case-studies {
  background-color: white;
}

.case-studies h1 {
  font-family: Raleway, sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 100%;
  font-style: extrabold;
  color: #080808;
  padding-bottom: 10px;
}

.case-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.case-header p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1%;
  width: 570px;
  color: #9c9c9c;
}

.case-studies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-study-container,
.case-study-container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 900px;
  margin-bottom: 80px;
}

.case-study-container2 {
  flex-direction: row-reverse;
}

h2 {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 800;
  font-style: extrabold;
  color: #080808;
  padding-bottom: 10px;
  gap: 10px;
}

.work {
  flex: 1;
}

.work p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1%;
  color: #9c9c9c;
  padding-bottom: 20px;
}

.work-image img {
  height: 300px;
  width: 445px;
  border-radius: 8px;
  object-fit: cover;
}

/* Button Styles */
.case-field1,
.case-field2,
.case-field3 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 10px;
  width: 63%;
  border-radius: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  width: fit-content;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.case-field1 {
  color: #ffa217;
  background-color: #fff6e9;
}

.case-field2 {
  color: #000aff;
  background-color: #d0e6ff;
}

.case-field3 {
  color: #2ab090;
  background-color: #e0fff8;
}

.view-case-study1,
.view-case-study2,
.view-case-study3 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 24px;
  width: 63%;
  border-radius: 4px;
  margin-top: 20px;
  border: none;
  gap: 10px;
  align-items: center;
  width: fit-content;
}

.view-case-study1 {
  color: white;
  background-color: #ff7c00;
}

.view-case-study2 {
  color: white;
  background-color: #000aff;
}

.view-case-study3 {
  color: white;
  background-color: #2ab090;
}

.view-case-study1 a,
.view-case-study2 a,
.view-case-study3 a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* Testimonial page Styles */
.testimonials {
  background-color: black;
}

.test-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.test-header h1 {
  font-family: Raleway, sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 100%;
  font-style: extrabold;
  color: #ffffff;
  padding-bottom: 10px;
}

.test-header p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1%;
  width: 570px;
  color: #9c9c9c;
}

.test-container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  justify-items: center;
  margin-left: 180px;
  margin-right: 180px;
}

.wrapper {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.05) 60%,
    rgba(255, 255, 255, 0) 75%
  );
  border-radius: 12px;
  padding: 1px;
  display: block;
  width: 100%;
}

.testimonial {
  background-color: black;
  border-radius: 11px;
  width: 100%;
  box-sizing: border-box;
}

.testimonial p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1%;
  color: #9c9c9c;
  padding-bottom: 20px;
  margin-left: 20px;
  padding-top: 35px;
}

.testimonial h1 {
  font-family: Raleway, sans-serif;
  position: absolute;
  background: transparent;
  font-size: 100px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1%;
  color: white;
  padding-top: -20px;
}

.client {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
  margin-left: 30px;
}

.client img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.client h3 {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  font-style: bold;
  color: white;
}

/* Recent Work Page Styles */
.recent-work {
  background-color: white;
}

.recent-work-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.recent-work-header h1 {
  font-family: Raleway, sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 100%;
  font-style: extrabold;
  color: #080808;
  padding-bottom: 10px;
}

.recent-work-header p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1%;
  width: 570px;
  color: #9c9c9c;
}

.work-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
  margin-left: 180px;
  margin-right: 180px;
  gap: 50px;
}

.work-container .work-item {
  display: flex;
  flex-direction: column;
}

.work-container .work-item img {
  width: 445px;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 20px;
}

.work-container .work-item h3 {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 100%;
  font-style: extrabold;
  color: #080808;
  margin-bottom: 10px;
}

.work-container .work-item p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1%;
  color: #9c9c9c;
  margin-bottom: 20px;
}

.work-item .know-more {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #3f8e00;
  border: 1px solid #62ba1b;
  width: 35%;
  padding: 10px 24px;
  border-radius: 4px;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.work-item .know-more a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* Contact Page Styles */
.contact {
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contact-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

.contact-header h1 {
  font-family: Raleway, sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 100%;
  font-style: extrabold;
  color: #ffffff;
  padding-bottom: 10px;
}

.contact-header p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1%;
  width: 570px;
  color: #9c9c9c;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 20px;
  flex: 1;
  margin-top: -40px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
}

.contact-form label {
  width: 100%;
  max-width: 400px;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  margin-bottom: 6px;
  margin-top: 20px;
}

.contact-form button {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #3f8e00;
  border: 1px solid #62ba1b;
  padding: 21px 64px;
  width: 400px;
  border-radius: 4px;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

footer {
  background-color: #1b1b1b;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  letter-spacing: 1%;
  line-height: 100%;
  font-weight: 400;
}

span {
  color: #9c9c9c;
}

i {
  color: #9c9c9c;
}

.menu-toggle {
  display: none;
  color: #7170b6;
  font-size: 25px;
  cursor: pointer;
}

/*  Responsive styles */
@media screen and (max-width: 1250px) {
  .pages {
    margin: 50px;
  }
  .pages ul {
    gap: 45px;
  }
  .cover .left button {
    width: 80%;
  }
}

@media screen and (max-width: 1050px) {
  .pages {
    margin: 30px;
  }
  .pages ul {
    gap: 50px;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .pages {
    margin: 20px;
  }
  .cover .left {
    padding-right: 50px;
    padding-left: 50px;
  }
  .cover .right {
    padding-right: 50px;
    padding-left: 50px;
  }
  .cover {
    padding-top: 20px;
    gap: 0px;
    padding-bottom: 60px;
  }
  .worked-with h3 {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .logos {
    margin-bottom: 150px;
    gap: 10px;
  }
  .logos button {
    width: 140px;
    height: 50px;
  }
  .test-container {
    margin-left: 70px;
    margin-right: 30px;
    margin-bottom: 100px;
  }
  .work-container .work-item img {
    width: 330px;
    height: 260px;
  }
}

@media screen and (max-width: 790px) {
  .pages ul {
    gap: 20px;
  }
  .navbar {
    width: 90%;
  }
  .test-container {
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: repeat(4, auto); /* 4 rows */
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 598px) {
  .pages ul {
    gap: 15px;
  }
  .navbar {
    width: 100%;
  }
  .test-container {
    margin-left: 50px;
  }
  .test-header p {
    width: 90%;
  }
}

/* hamburger menu for 498px width and smaller */
@media screen and (max-width: 498px) {
  .pages ul {
    gap: 10px;
  }
  .navbar {
    margin: 0px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }
  .social {
    justify-content: center;
  }
  .pages {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  .pages.active {
    display: flex;
  }
  .pages ul {
    flex-direction: column;
    background-color: #1b1b1b;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px 0;
  }
}
